[Desktop Entry]
Encoding=UTF-8
Name=Install Silverlight
Comment=Silverlight Browser Plugin
Exec=silverlight-installer
Icon=silverlight
Terminal=false
Type=Application
Categories=Elive;Installer;
StartupNotify=true
