[Desktop Entry]
Encoding=UTF-8
Name=Install Silverlight
Name[az]=Silverlight Yükle
Name[bg]=Инсталирате Silverlight
Name[bn]=সিলভারলাইট ইনস্টল
Name[ca]=Instal·lar el Silverlight
Name[cs]=Nainstalujete program Silverlight
Name[da]=Installere Silverlight
Name[de]=Installieren Sie Silverlight
Name[el]=Εγκαταστήσετε το Silverlight
Name[en]=Install Silverlight
Name[eo]=Instali Silverlight
Name[es]=Instalar Silverlight
Name[et]=Silverlighti installimiseks
Name[fi]=Asenna Silverlight
Name[fr]=Installer Silverlight
Name[hi]=Silverlight स्थापित करें
Name[hr]=Instalirajte Silverlight
Name[hu]=A Silverlight telepítése
Name[id]=Menginstal Silverlight
Name[it]=Installare Silverlight
Name[ja]=Silverlightをインストールする
Name[ko]=Silverlight 설치
Name[lt]=Įdiekite Silverlight
Name[lv]=Instalētu Silverlight
Name[ms]=Memasang Silverlight
Name[nb]=Installer Silverlight
Name[nl]=Silverlight te installeren
Name[no]=Installer Silverlight
Name[pl]=Zainstaluj program Silverlight
Name[pt]=Instalar o Silverlight
Name[ro]=Instala Silverlight
Name[sk]=Nainštalujte doplnok Silverlight
Name[sl]=Namestite Silverlight
Name[sr]=Инсталл Силверлигхт
Name[sv]=Installera Silverlight
Name[te]=సిల్వర్లైట్ ఇన్స్టాల్
Name[tl]=I-install Silverlight
Name[tr]=Silverlight'ı yükle
Name[uk]=Встановити Silverlight
Name[vi]=Cài đặt Silverlight
Comment=Silverlight Browser Plugin
Comment[az]=Silverlight Browser Plugin
Comment[bg]=Silverlight Browser Plug-in
Comment[bn]=সিলভারলাইট ব্রাউজার প্লাগ-ইন
Comment[ca]=Plugin per al navegador Silverlight
Comment[cs]=Silverlight prohlížeče Plugin
Comment[da]=Silverlight Browser Plugin
Comment[de]=Silverlight Browser Plugin
Comment[el]=Silverlight Plugin Browser
Comment[en]=Silverlight Browser Plugin
Comment[eo]=Silverlight Browser Plugin
Comment[es]=Plugin de Navegador de Silverlight
Comment[et]=Silverlight brauseriplugina
Comment[fi]=Silverlight Browser Plugin
Comment[fr]=Plugin de navigateur Silverlight
Comment[hi]=सिल्वरलाइट ब्राउज़र प्लगइन
Comment[hr]=Silverlight Plugin preglednik
Comment[hu]=Silverlight plug-in
Comment[id]=Silverlight Browser Plugin
Comment[it]=Plugin Browser Silverlight
Comment[ja]=Silverlightブラウザプラグイン
Comment[ko]=Silverlight 브라우저 플러그인
Comment[lt]='Silverlight'naršyklės papildinys
Comment[lv]=Silverlight Browser Plugin
Comment[ms]=Plugin Pelayar Silverlight
Comment[nb]=Silverlight Browser Plugin
Comment[nl]=Silverlight Browser Plugin
Comment[no]=Silverlight Browser Plugin
Comment[pl]=Wtyczka przeglądarki Silverlight
Comment[pt]=Plug-in do navegador Silverlight
Comment[ro]=Silverlight Plugin Browser
Comment[sk]=Silverlight prehliadača Plugin
Comment[sl]=Silverlight Plugin Browser
Comment[sr]=Силверлигхт Бровсер Плугин
Comment[sv]=Silverlight Browser Plugin
Comment[te]=సిల్వర్లైట్ బ్రౌజర్ ప్లగిన్
Comment[tl]=Silverlight Browser Plugin
Comment[tr]=Silverlight Tarayıcı Eklentisi
Comment[uk]=Silverlight Plugin Browser
Comment[vi]=Trình cắm Trình duyệt Silverlight
Exec=silverlight-installer
Icon=silverlight
Terminal=false
Type=Application
Categories=Elive;Installer;
StartupNotify=true
