[Desktop Entry]
Encoding=UTF-8
Name=Browser selector
Comment=Web browsers selector
Exec=elive-extra-browser-select
TryExec=elive-extra-browser-select
Icon=web-browser
Terminal=false
Type=Application
Categories=Elive;Helper;
StartupNotify=true
